@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;800&display=swap');
*{
	margin:0px;
	padding:0px;
}
body{
	font-family: "M PLUS 1p", serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	background-color:#FFFFFF;
}
a{
	text-decoration: none;
}
/* Шапка */
header{
	width:100%;
	height: 100px;
	background-color:#F8F8F8;
}
header .all-header{
	width:95%;
	padding:0px 2.5%;
}
header .all-header .lang{
	float: right;
	margin-top: 5px;
}
header .all-header .lang a{
	font-family: "M PLUS 1p", serif;
	font-size: 20px;
	font-weight: bolder;
	color: #C4C4C4;
}
header .all-header .lang .active,
header .all-header .lang a:hover{
	color: #000000;
	border-bottom: 2px solid #000000;
}
header .all-header .logo{
	float:left;
	margin:5px 5px;
	width: 75px;
}
header .all-header .search{
	float:left;
	margin:5px 5px;
	position: relative;
	top: 40px;
	left: -90px;
	width: 210px;
	height: 44px;
	border: none;
	background-color:#ECECEC;
	font-family: "M PLUS 1p", serif;
	font-size: 10px;
	font-weight: light;
	text-indent: 10px;
	outline: none;
}
header .all-header .upload-a-song{
	float: left;
	color: #000000;
	font-family: "M PLUS 1p", serif;
	font-size: 14px;
	font-weight: bolder;
	margin: 5px 5px;
	position: relative;
	top: -50px;
	left: 93px;
}
header .all-header .upload-a-song:hover{
	color: #C4C4C4;
}
header .all-header .buttons{
	font-family: "M PLUS 1p", serif;
	font-size: 10px;
	font-weight: bolder;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	float: right;
	position: relative;
	top: -5px;
	left: 20px;
}
header .all-header .buttons .log-in{
	border: 2px solid #000000;
	width: 50px;
	height: 30px;
	float: right;
	margin-right: 7px;
	/* margin-top: 30px; */
}
header .all-header .buttons .sign-up{
	border: 2px solid #000000;
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 7px;
	/* margin-top: 30px; */
	color: #FFFFFF;
	background-color:#000000;
}
header .all-header .buttons p:hover{
	color: #FFFFFF;
	background-color:#000000;
}
header .all-header .buttons .sign-up:hover{
	color: #000000;
	background-color:#FFFFFF;
}
/* Основная часть */
main{
	float: left;
	width: 100%;
}
main .section{
	float: left;
	width: 95%;
	margin: 15px 2.5%;
}
main .section h3{font-size: 24px;}

main .section h3 span{
	width: 30px;
	height: 2px;
	background-color:#000000;
	display: inline-block;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 8px;
}
main .section .img-block{
	float: left;
	width: 31%;
	margin-top: 15px;
	display: inline-block;
}
main .section .img-block:not(:last-of-type){
	margin-right: 3%;
}
main .section .img-block h4{
	font-size: 14px;
}
main .section .img-block img{width: 100%;}
main .section .img-block p{
	float: left;
	font-size: 12px;
	font-weight: lighter;
}
main .section .img-block .button_play{
	width: 35px;
	height: 35px;
	position: relative;
	top: -95px;
	left: 83px;
}
/* Футер */
footer{
	float: left;
	background-color:#000000;
	width:100%;
	height:100px;
}
footer p{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
	line-height: 100px;
}
